target
target/*
test/.gauge/
test/logs/
test/logs/*
test/reports/
test/reports/*
.settings
.settings/*
.classpath
target/
data
data/
data/*
/target\generated-sources\annotations/
/target\generated-test-sources\test-annotations/
/.apt_generated/
/.apt_generated_tests/
